body{
  padding: 0;
  margin: 0;
}

.App {
  font-family: 'Inter', sans-serif;
}

.react-calendar{
  font-family: 'Inter', sans-serif !important;
}

:root{
  --toastify-font-family: 'Poppins', sans-serif !important;
  --toastify-toast-width: 320px !important;
  --toastify-toast-min-height: 40px !important;
  --toastify-toast-max-height: 800px !important;
}